@import "../../../Base.less";

.body2{
 min-height: 100vh;
}

.web {
  display: none !important
}
.mobile {
  display: inherit !important;
}
@media @phone-strict {

  .MuiAppBar-root{
    .MuiToolbar-root {
     display: flex;
     flex-flow: row;
      img {
        margin: auto;
     
        
      }
      .MuiButtonBase-root{
        width: auto;
        font-size: 20px !important;
      }
    }
  }
  .body2{
  }
}

@media @tablet-strict {
  .body2{
  }

}
