@import '../../Base.less';

.slider {
    margin-top: 0 !important;
    border-radius:  10px;
}
.btn-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 7px;
    align-items: center;
    .MuiButtonBase-root {
        display: block;
        width: 48%;
    }
}