@import '../../Base.less';

@media @phone-strict {
    .payment-component {
        margin-top: 22%;
        padding-right: 10px;
        padding-left: 10px;
        .MuiGrid-container-1{
            flex-flow: column;
            justify-content: center;
            .MuiGrid-item  {
                max-width: 100%;
                line-height: 30px;
            }
            .billing-panel{
                width: 100%;
                padding:15px;
            }
        }
    }
}
