@import "./Base.less";


.MuiButton-containedPrimary{
    color: #fff !important;
}
.MuiAppBar-colorPrimary{
  background:linear-gradient(to right,#fff, #ddd);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(70, 69, 69, 0.2)
}
.MuiLink-root{
  text-transform: unset;
  cursor: pointer;
  padding: 5px
}