@import "./Base.less";


.MuiButton-containedPrimary{
    color: #fff !important;
}
.MuiAppBar-colorPrimary{
  background:linear-gradient(to right, @secondary-color-100,@primary-color-100);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}